#controlPanel {
  padding: 1rem;
}

#statusPanel {
  padding: 1rem;
}

#map {
  width: 100%;
  height: 80vh;
}
.leaflet-tooltip.cell-label,
.leaflet-tooltip.cell-label .leaflet-tooltip-content {
  background: transparent;
  border: none;
  box-shadow: none;
  padding: 0;
}

.leaflet-tooltip.cell-label .leaflet-tooltip-content {
  color: #000;
  font-size: 40px;
  text-align: center;
  white-space: nowrap;
  pointer-events: none;
}
